<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import Font Awesome-->
        <!--Let browser know website is optimized for mobile-->
        <link rel="stylesheet" href="styles/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>ATU EMR</title>
    </head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo"><img width="175" src="./images/atu logo.png" alt=""></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html">OPD</a></li>
                <li><a href="doctor.html">Doctor</a></li>
                <li><a href="laboratory.html">Laboratory</a></li>
                <li><a href="lab_result.html">Laboratory Result</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h4 class="yellow-text center-align">
            Personal Information
        </h4>
    </div>
    <table class="highlight centered striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Laboratory Test Conducted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>